{{> head }}  
{{> navbar }}

    <div>
        
        <div class="col-8">
            <h1>Imagenes alv</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veniam tempora culpa obcaecati explicabo, nulla expedita
                 nostrum similique ut ea perferendis officia ratione! Cum 
                voluptates optio, recusandae porro quibusdam nobis rem?
            </p>
        </div>

        <div class="col-4">
            <img src="/public/assets/img/IMG_20190407_160852047.jpg" class="img-thumbnail">
        </div>

    </div>



    {{> footer }}